// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components
@use 'styles' as *;

// Include the common styles for Angular Material.
@include mat.core();

$ll-dusty-blue-palette: (
  50: #eaeef4,
  100: #ccd6de,
  200: #adbac6,
  300: #8d9eae,
  400: #75899c,
  500: #5e758a,
  600: #516779,
  700: #425363,
  800: #33414e,
  900: #212c36,
  contrast: (
    50: rgba($ll-black, 1),
    100: rgba($ll-black, 1),
    200: rgba($ll-black, 1),
    300: rgba($ll-black, 1),
    400: rgba($ll-black, 1),
    500: rgba($ll-black, 1),
    600: white,
    700: white,
    800: white,
    900: white
  )
);

$ll-green-palette: (
 50: #e8f2ec,
 100: #c8ded0,
 200: #a8cab4,
 300: #8eb59a,
 400: #7fa589,
 500: #75957c,
 600: #6c8871,
 700: #627865,
 800: #58685a,
 900: #474b47,
 A100: #c2dcc1,
 A200: #92b49a,
 A400: #5a6c63,
 A700: #3d5544,
 contrast: (
   50: rgba($ll-black, 1),
   100: rgba($ll-black, 1),
   200: rgba($ll-black, 1),
   300: rgba($ll-black, 1),
   400: rgba($ll-black, 1),
   500: rgba($ll-black, 1),
   600: rgba($ll-black, 1),
   700: rgba($ll-black, 1),
   800: white,
   900: white,
   A100: rgba($ll-black, 1),
   A200: rgba($ll-black, 1),
   A400: rgba($ll-black, 1),
   A700: white
 )
);

$ll-burgundy-palette: (
  50: #fceaea,
  100: #e6cdd0,
  200: #ceaeb3,
  300: #b68e94,
  400: #a3747c,
  500: #915c65,
  600: #83535c,
  700: #724750,
  800: #613b46,
  900: #4f2e39,
  A100: #fdd8dd,
  A200: #f9a5b0,
  A400: #f47282,
  A700: #ec5a6a,
  contrast: (
    50: rgba($ll-black, 1),
    100: rgba($ll-black, 1),
    200: rgba($ll-black, 1),
    300: rgba($ll-black, 1),
    400: rgba($ll-black, 1),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba($ll-black, 1),
    A200: rgba($ll-black, 1),
    A400: white,
    A700: white
  )
);

$ll-warn-palette: (
  50: #ffebee,
  100: #ffcdd2,
  200: #ef9a9a,
  300: #e57373,
  400: #ef5350,
  500: #f44336,
  600: #e53935,
  700: #d32f2f,
  800: #c62828,
  900: #b71c1c,
  A100: #ff8a80,
  A200: #ff5252,
  A400: #ff1744,
  A700: #d50000,
  contrast: (
    50: rgba($ll-black, 1),
    100: rgba($ll-black, 1),
    200: rgba($ll-black, 1),
    300: rgba($ll-black, 1),
    400: rgba($ll-black, 1),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba($ll-black, 1),
    A200: white,
    A400: white,
    A700: white
  )
);

// Prepare palettes for use in m2 theme
$client-primary: mat.m2-define-palette($ll-green-palette, 600);
$client-accent: mat.m2-define-palette($ll-burgundy-palette, 800);
$client-warn: mat.m2-define-palette($ll-warn-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$client-theme: mat.m2-define-light-theme($client-primary, $client-accent, $client-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($client-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
