// This font needs to be copied into client/src/assets/fonts since it is not open source
@font-face {
	font-family: 'DarlingModern';
	src: url('../../../assets/fonts/DarlingModernRegular.woff');
	font-weight: 600;
}

@font-face {
	font-family: 'Cecily';
	src: url('../../../assets/fonts/cecily.ttf');
	font-weight: 600;
}

@font-face {
	font-family: 'Forum';
	src: url('../../../assets/fonts/Forum-Regular.ttf');
	font-weight: 600;
}

.names-container {

	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		width: 100vw;
		height: auto;
	}

	.names {
		position: absolute;
		text-align: center;
		font-size: 2em;
		color: #00171f;
		font-family: 'DarlingModern', 'Cecily', 'Serif';
	}

	.names-left {
		@extend .names;
		transform: translate(-5vw, -5vh);
	}

	.names-right {
		@extend .names;
		transform: translate(20vw, 20vh);
	}

	.ampersand {
		@extend .names;
		font-family: 'Cecily', 'Serif';
		transform: translate(7vw, 7vh);
	}

	.dateinfo {
		@extend .names;
		display: flex;
		align-items: center;
		font-family: 'Forum', 'Serif';
		font-size: 1em;
		transform: translate(0, 50vh);

		h2 {
			margin-top: 0;
			margin-bottom: 0;
		}
	}

	.datewithlines {
		border-top: 1px solid #00171f;
		border-bottom: 1px solid #00171f;
	}

	.bigdate {
		font-size: 4em;
	}
}
