<div class="home-container">
	<img class="top left corner" src="../../../assets/flowerbar.png" />
	<img class="top right corner" src="../../../assets/flowerbar.png" />
	<img class="bottom left corner" src="../../../assets/flowerbottom.png" />
	<img class="bottom right corner" src="../../../assets/flowerbottom.png" />

	<div class="content-container">
		<div class="names">
			<h1>Lena</h1>
			<div class="ampersand">
				<h1>&</h1>
			</div>
			<h1>Lucas</h1>
		</div>

		<div>
		<div class="date-location-info">
			<div><h2 class="date-with-lines">SATURDAY</h2></div>
			<div>
				<h2>OCTOBER</h2>
				<h2 class="big-date">14</h2>
				<h2>2023</h2>
			</div>
			<div><h2 class="date-with-lines">6:00PM</h2></div>
		</div>

		<div class="date-location-info">
			<div>
				<h2>BUFFALO BOTANICAL GARDENS</h2>
				<h2>SOUTH PARK AVE, BUFFALO, NY</h2>
			</div>
		</div>
		</div>
	</div>
</div>
