<mat-toolbar color="primary">
    <div class="nav-items">
		<span></span>
        <div class="buttons">
			<button mat-icon-button [routerLink]="''" aria-label="Home">
				<mat-icon>home</mat-icon>
			</button>
			<button mat-icon-button [routerLink]="'/rsvp'" aria-label="RSVP">
				<mat-icon>mail</mat-icon>
			</button>
			<button mat-icon-button [routerLink]="'/info'" aria-label="Info">
				<mat-icon>info</mat-icon>
			</button>
        </div>
    </div>

</mat-toolbar>

<router-outlet></router-outlet>

