@use '../styles.scss' as *;

.nav-items {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    color: rgba($ll-black, 0.75);
}

mat-toolbar {
	height: 8vh;
}

.buttons {
	display: inline-flex;
	align-items: self-end;
}

.buttons * {
	font-size: x-large;
	font-weight: 900;
}


mat-toolbar {
	height: 8vh;
}

@media (min-width: 576px){
	.page-buttons * {
		font-size: large;
		font-weight: bold;
	}
}
