.venue-info {
    display: flex;
    flex-direction: column;
    align-items: center;

	h1 {
		font-size: min(3em, 13vw);
		font-family: 'DancingScript', 'Serif';;
	}
}

.map {
	min-width: 80%;
	max-width: 90%;
}
