@import url('../../../assets/fonts.css');

.page-title {
    display: flex;
    flex-direction: column;
    align-items: center;

	h1 {
		font-size: min(3em, 13vw);
		font-family: 'DancingScript', 'Serif';;
	}
}

.info-content {
	display:flex;
	flex-direction: column;
}

.faqs {
	flex: 1;
	padding: 2rem;

	@media (min-width: 768px) {
		width: 70%;
    	align-self: center;
	}
}

.map {
	width: 100%;
}
