<div class="page-title">
    <h1>Information</h1>
</div>

<div class="faqs">
	<mat-accordion>
		<div>
			<mat-expansion-panel togglePosition="before">
				<mat-expansion-panel-header class="faq-header">
				  <mat-panel-title class="faq-question">
					Venue
				  </mat-panel-title>
				</mat-expansion-panel-header>
				<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2926.1299888559643!2d-78.82618368505368!3d42.827867913423205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d30e2f0ed813f9%3A0x292c86b54ab3cb05!2sBuffalo%20and%20Erie%20County%20Botanical%20Gardens!5e0!3m2!1sen!2sus!4v1671925481036!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			</mat-expansion-panel>
		</div>
		<div *ngFor="let faq of faqs; let i = index">
			<mat-expansion-panel togglePosition="before">
				<mat-expansion-panel-header class="faq-header">
				  <mat-panel-title class="faq-question">
					{{faq.question}}
				  </mat-panel-title>
				</mat-expansion-panel-header>
				<div [innerHTML]="faq.answer"></div>
			</mat-expansion-panel>
		</div>
	</mat-accordion>
</div>

