@import '../../../../styles.scss';
@import '../../../../assets/fonts.css';

.container > {
	div {
		flex: 1;
	}
}

.code-input {
	width: 100vw;
	margin-top: -5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;

	background-image: url("/assets/dusty_blue_backsplash.png");
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.label {
	font-size: 2em;
	text-align: center;
	padding-bottom: 5px;
	font-family: Spectral;
	color: $ll-black;
}

.form-section {
	::ng-deep mat-form-field{
		margin-bottom: -8px;
		width: 15em;
		.mat-mdc-text-field-wrapper {
			background-color: rgba($ll-creme, 0.8);
		}
	 }
}

.framing-flowers {
	width: 100vw;
	height: 35vh;
}

.top-flowers {
	width: 75vw;
	max-width: 50vh;
	height: auto;
}

.bottom-flowers {
    @extend .top-flowers;
    bottom: 0;
    right: 0;
    position: absolute;
}
