<form class="rsvp-form" [formGroup]="guestForm" (ngSubmit)="onSubmit()">
	<div class="form-section">
		<mat-form-field>
			<mat-label>First name</mat-label>
			<input matInput type="text" formControlName="firstName">
		</mat-form-field>

		<mat-form-field>
			<mat-label>Last name</mat-label>
			<input matInput type="text" formControlName="lastName">
		</mat-form-field>
	</div>
</form>

<div class="submit-container">
	<button class="submit-button" (click)="onSubmit()" mat-flat-button color="accent" [disabled]="!guestForm.valid">Submit</button>
</div>
